:root {
    --component-border: 3px;
    --connector-diameter: 12px;
    --connector-border: 1px;
    --connector-radius: calc(var(--connector-diameter) / 2);
}
  
.component {
    position: absolute;
    background-color: #415A77;
    border: var(--component-border) solid #E0E1DD;
    color: #E0E1DD;
    user-select: none;
    width: 125px;
}

.component.selected {
    border-style: dashed;
}

.component.rendering {
    border-color: #ff8052;
}

.component > .title {
    box-sizing: border-box;
    top: 0px;
    background-color: #1B263B;
    font-weight: bold;
    color: #778DA9;
    width: 100%;
    padding: .5rem;
}

.component input[type="range"] {
    width: 100%;
}

.component > .connections {
    display: flex;
    flex-direction: column;
    padding-bottom: .25rem;
}

.input {
    display: flex;
    align-items: center;
    margin-left: calc(var(--connector-radius) * (-1) - var(--connector-border) - var(--component-border) / 2);
    margin-top: .25rem;
}

.input > .label {
    margin-left: .25rem;
}

.output {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: calc(var(--connector-radius) * (-1) - var(--connector-border) - var(--component-border) / 2);
    margin-top: .25rem;
}

.output > .label {
    margin-right: .25rem;
}

.connector {
    box-sizing: content-box;
    border-radius: var(--connector-diameter);
    border: var(--connector-border) solid #E0E1DD;
    background-color: #ff8052;
    width: var(--connector-diameter);
    height: var(--connector-diameter);
}

.component > .params {
    border-top: 1px solid #E0E1DD;
    padding: .25rem;
}

.params > div {
    display: flex;
    overflow: hidden;
}

.params div div {
    overflow: hidden;
}

